<!DOCTYPE html>
<html>
    <headdata PageTitle="Documentation"/>
<body>
    <div class="nav-parent">
        <navigationbar ProjectTitle="Documentation Sample"/>
        <sidenav LinkPrefix="">
            <contenttemplate PageTitle="@Page.PageTitle;" Author="@Page.Author;" LastUpdated="@Page.LastUpdated;" NumMinutesToRead="@Page.NumMinutesToRead;" CopyrightNotice="&copy; Copyright 2020, My Company.">
                @ChildContent;
            </contenttemplate>
        </sidenav>
    </div>
    <scripts/>
</body>
</html>